<div class="row">
    <div class="col-6">
        <div>
            <h1>Datos Personales</h1>
        </div>
        <form [formGroup]="alumno" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" placeholder="Nombre" id="nombre" name="nombre" class="form-control" formControlName="nombre">
        </div>
        <div class="mb-3">
            <label for="apaterno" class="form-label">Apaterno</label>
            <input type="text" placeholder="Apaterno" id="apaterno" name="apaterno" class="form-control" formControlName="apaterno">
        </div>
        <div class="mb-3">
            <label for="amaterno" class="form-label">Amaterno</label>
            <input type="text" placeholder="Amaterno" id="amaterno" name="amaterno" class="form-control" formControlName="amaterno">
        </div>
        <div>
            <h1>Fecha de Nacimiento</h1>
        </div>
        <div class="d-flex justify-content-between">
            <div class="mb-3">
                <label for="dia" class="form-label">Dia</label>
                <input type="number" placeholder="Dia" id="dia" name="dia" class="form-control" formControlName="dia" min="1" max="31" matTooltip="Ingrese el dia en numero">
            </div>
            
            <div class="mb-3">
                <label for="mes" class="form-label">Mes</label>
                <input type="number" placeholder="Mes" id="mes" name="mes" class="form-control" formControlName="mes" min="1" max="12" matTooltip="Ingrese el mes en numero">
            </div>
            
            <div class="mb-3">
                <label for="año" class="form-label">Año</label>
                <input type="number" placeholder="Año" id="año" name="año" class="form-control" formControlName="año" matTooltip="Ingrese el año en numero">
            </div>
        </div>
        <div>
            <h1>Sexo</h1>
        </div>    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sexo" id="masculino" value="masculino" (change)="onSexoChange($event)">
            <label class="form-check-label" for="masculino">Masculino</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sexo" id="femenino" value="femenino" (change)="onSexoChange($event)">
            <label class="form-check-label" for="femenino">Femenino</label>
        </div>
        <div><br></div> 
        <div class="d-flex">
            <div class="mb-3">
                <button class="btn btn-primary" type="button" (click)="onLimpiar()">Limpiar</button>
            </div>
            <div class="ms-2"></div>
            <div class="mb-3">
                <button class="btn btn-primary" type="button" (click)="onSiguienteClick()">Siguiente</button>
            </div>
        </div>
        </form>
    </div>
</div>